<h1> Creating a review for <%= @restaurant.name %> </h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, as: :numeric%>
  <%= f.submit %>
<% end %>
